html,
body {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff; /* White background */
  border: 1px solid #000000; /* Thin black stroke */
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #ff5e9c; /* Black text */
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 0.5s ease; /* Smooth transition for hover and active states */
}

.navbar a:hover {
  background-color: #ffffff; /* Pink background on hover */
  color: #ff5e9c; /* White text on hover */
  outline: 3px solid #ff5e9c; /* Add a pink stroke effect */
}

.navbar a.active {
  background-color: #ff5e9c; /* Pink background for active link */
  color: #ffffff; /* White text for active link */
}
