.image-row {
  display: flex; /* Use flexbox to align images horizontally */
  justify-content: center; /* Center the images horizontally */
  align-items: center; /* Align images vertically */
  margin: 5px auto; /* Center the row on the page */
  width: 100%; /* Ensure the row spans the full width of the container */
  padding: 0; /* Remove any padding */
  box-sizing: border-box;
  margin-bottom: 50px; /* Include padding and border in width calculation */
}

.image-row img {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 0;
  margin: 10px;
}
